@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap");

* {
	font-family: "Roboto", sans-serif;
}

.content {
	margin: 1rem auto;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
	color: rgba(129, 211, 234, 1);
}

.social a:hover {
	text-decoration: none;
}

nav,
main {
	width: 90%;
	margin: 0 auto;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-weight: bolder;
}

nav .pages {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
}

body {
	background-color: #fdfdfd;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(129, 211, 234, 0.4);
	display: flex;
	padding: 2rem 0;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-size: 0.8rem;
}

footer .col {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

footer .col .footer-title {
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 1rem;
	font-style: italic;
}

.social {
	display: flex;
	gap: 0.6rem;
}

.social a i {
	font-size: 1.2rem;
}
