* {
	margin: 0;
}

.section {
	width: 80%;
	margin: 0 auto;
}

#team {
	display: grid;
	gap: 0 1rem;
	grid-auto-rows: 35rem;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	align-items: stretch;
}

.person h2 {
	font-size: calc(1.6rem + 0.2vw);
}

.person h3 {
	font-size: calc(1.2rem + 0.2vw);
}

.person {
	height: auto;
	max-width: 400px;
}

.person p {
	font-size: calc(0.8rem + 0.5vw);
}

.person img {
	width: 100%;
	max-height: 400px;
}
